ADFpipeline.json
{
    "name": "pipeline1",
    "properties": {
        "activities": [
            {
                "name": "ProcessTabular",
                "type": "AzureFunctionActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "functionName": "PartitionManager_HttpStart",
                    "method": "POST",
                    "body": "{param:run}"
                },
                "linkedServiceName": {
                    "referenceName": "PartitionManager",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Until",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "ProcessTabular",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(or(equals(activity('CheckStatus').output.runtimeStatus, 'Pending'), equals(activity('CheckStatus').output.runtimeStatus, 'Running')))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Wait10 sec",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 10
                            }
                        },
                        {
                            "name": "CheckStatus",
                            "type": "WebActivity",
                            "dependsOn": [
                                {
                                    "activity": "Wait10 sec",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                          "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                          },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@activity('ProcessTabular').output.statusQueryGetUri",
                                    "type": "Expression"
                                },
                                "method": "GET"
                            }
                        }
                    ],
                    "timeout": "7.00:00:00"
                }
            },
            {
                "name": "ProcessTabularSuccess",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Until",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[usp_ProcessFinishedSuccess]",
                    "storedProcedureParameters": {
                        "ModelID": {
                            "value": "1",
                            "type": "Int32"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "Administration",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}